.headerBarArea {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  height: 110px;
  width: 100vw;
  justify-content: space-between;
  background-image: linear-gradient(95deg, #000000 0%, #06080e 74%);
  align-items: center;
  border-bottom: 1px solid var(--main-theme-special-color);
}

.headerBarArea > h2 {
  font-size: 32pt;
  color: var(--main-theme-special-color);
  margin-left: 50px;
}

.headerBarButtonsEnsemble {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  /* border-bottom: 1px solid var(--main-theme-special-color); */
}

.headerBarButtonsEnsemble > * {
  margin-right: 50px;
}

.headerBarButton {
  border: none;
  background-color: transparent;
  color: var(--main-theme-light-color);
  transition: scale 250ms;
}

.headerBarButton:hover {
  cursor: pointer;
  scale: 1.05;
}

.whiteIcon {
  color: white;
  margin-right: 50px;
}

@media screen and (max-width: 1024px) {
  .headerBarButtonsEnsemble {
    background-image: linear-gradient(95deg, #000000 0%, #06080e 74%);
    flex-direction: column;
    top: 110px;
    position: absolute;
    width: 100%;
    gap: 0;
  }

  .headerBarButton {
    padding: 15px;
    border-top: 2px solid var(--main-theme-special-color);
  }
}

@media screen and (max-width: 500px) {
  .headerBarArea > h2 {
    margin-left: 10vw;
    font-size: 25pt;
  }

  .whiteIcon {
    margin-right: 10vw;
  }
}
