.homeArea {
  position: relative;
  display: flex;
  width: fit-content;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin: 250px 10vw 200px 10vw;
  margin: 250px auto 200px auto;
  height: auto;
}

.homeDescriptionContainer {
  width: auto;
  margin: 0 auto;
  padding: 1px;
  background-image: var(--main-theme-color-B64);
  background-repeat: no-repeat;
  background-size: 0 0, 0 0, 0% 0;
  animation: 2s drawBorderFromLeft 0.5s forwards;
  border-radius: 20px;
}

.homeDescription {
  position: relative;
  display: flex;
  width: 25vw;
  min-width: 300px;
  max-width: 400px;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  background: radial-gradient(
    var(--main-theme-dark-color),
    var(--main-theme-semi-dark-color)
  );
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(90, 90, 90, 0.1),
    0 8px 10px -6px hsla(0, 0%, 43%, 0.1);
  padding: 20px;
}

.homeDescription > * {
  text-align: left;
  text-align-last: left;
}

.homeLine {
  height: 1px;
  width: 10vw;
  left: 0;
  position: relative;
  background-repeat: no-repeat;
  animation: 1s linearap 2.5s forwards;
}

.homeProfilePicture {
  border-radius: 50%;
  width: 40vw;
  height: 100%;
  max-width: 400px;
  min-width: 250px;
  object-fit: contain;
  border: 2px double var(--main-theme-special-color);
  z-index: 1;
}

.homeLogosLinks {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .homeArea {
    flex-direction: column-reverse;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  /* .homeProfilePicture {
    width: 100%;
  } */

  .homeLine {
    width: 1px;
    height: 70px;
    animation: 1s linearap 0.5s forwards;
  }

  .homeDescriptionContainer {
    background-color: var(--main-theme-special-color);
    background-image: var(--main-theme-color-B64);
    background-repeat: no-repeat;
    background-size: 0 1px, 0 100%, 0% 1px;
    animation: 2s drawBorderFromTop 1.5s backwards;
    border-radius: 20px;
  }

  .homeDescription {
    width: 75vw;
    min-width: auto;
    max-width: unset;
  }
}

/* Animations CSS */

@keyframes drawBorderFromTop {
  0% {
    background-size: 0 1px, 0 0, 100% 100%;
    background-position: top center, top center, bottom center;
  }
  20% {
    background-size: 100% 1px, 100% 0, 100% 100%;
  }
  66% {
    background-size: 100% 1px, 100% 98%, 100% 100%;
  }
  100% {
    background-position: top center, top center, bottom center;
  }
}

@keyframes drawBorderFromLeft {
  0% {
    background-size: 1px 0, 0 0, 100% 100%;
    background-position: center left, top left, center right;
  }
  20% {
    background-size: 1px 100%, 0 100%, 100% 100%;
    background-position: left left, top left, center right;
  }
  66% {
    background-size: 1px 100%, 98% 100%, 100% 100%;
    background-position: center left, top left, center right;
    background-color: var(--main-theme-special-color);
  }
  100% {
    background-size: 1px 100%, 98% 100%, 100% 1px;
    background-position: center left, top left, center right;
    background-color: var(--main-theme-special-color);
  }
}

@keyframes linearap {
  0% {
    background-size: 0 0, 0 0, 0% 0%;
    background-image: var(--main-theme-color-B64);
  }
  100% {
    background-size: 1px 100%, 100% 100%;
    background-image: var(--main-theme-color-B64);
  }
}
