.sectionsLineConnection {
  width: 1px;
  height: 100px;
  margin: auto;
  background-repeat: no-repeat;
}

/* Animations of the burger menu when it is opened */

.headerBarAnimationOn {
  max-height: 0;
  animation: 1s burgerMenuOpen forwards;

  > * {
    opacity: 0;
    transform: translateX(100%);

    &:nth-child(1) {
      animation: 0.2s burgerMenuOpen 0s forwards;
    }
    &:nth-child(2) {
      animation: 0.25s burgerMenuOpen 0.1s forwards;
    }
    &:nth-child(3) {
      animation: 0.45s burgerMenuOpen 0.2s forwards;
    }
    &:nth-child(4) {
      animation: 0.55s burgerMenuOpen 0.3s forwards;
    }
    &:nth-child(5) {
      animation: 0.65s burgerMenuOpen 0.4s forwards;
    }
    &:nth-child(6) {
      animation: 0.70s burgerMenuOpen 0.45s forwards;
    }
  }
}

@keyframes burgerMenuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    max-height: 100vh;
  }
}

/* Animations of the burger menu when it is closed */

.headerBarAnimationOff {
  display: flex !important;
  animation: 0.7s burgerMenuClose cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

  > * {
    &:nth-child(1) {
      animation: 0.65s burgerMenuItemClose 0.4s forwards;
    }
    &:nth-child(2) {
      animation: 0.55s burgerMenuItemClose 0.35s forwards;
    }
    &:nth-child(3) {
      animation: 0.45s burgerMenuItemClose 0.3s forwards;
    }
    &:nth-child(4) {
      animation: 0.30s burgerMenuItemClose 0.2s forwards;
    }
    &:nth-child(5) {
      animation: 0.25s burgerMenuItemClose 0.1s forwards;
    }
    &:nth-child(6) {
      animation: 0.2s burgerMenuItemClose 0s forwards;
    }
  }
}

@keyframes burgerMenuItemClose {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes burgerMenuClose {
  from {
    max-height: 100vh;
    opacity: 1;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

.rotate90deg {
  transform: rotate(90deg);
}

@keyframes rotatingBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.favoriteCompetenceItem {
  position: relative;
  
  &::before {
    filter: blur(5.5px) brightness(1.5);
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 50%;
    background: conic-gradient(
      from 0deg,
      transparent,
      transparent,
      var(--theme-special-enhanced-color),
      var(--theme-semi-dark-color),
      transparent,
      transparent,
    );
    animation: rotatingBorder 1.5s linear infinite;
    z-index: -1;
    mask: radial-gradient(circle, transparent calc(74% - 5px), black calc(74% - 5px));
    -webkit-mask: radial-gradient(circle, transparent calc(74% - 5px), black calc(74% - 5px));
    
    // Glow effect
    box-shadow: 
      0 0 1px var(--theme-special-enhanced-color),
      0 0 1px var(--theme-semi-dark-color),
      0 0 2px rgba(255,255,255,0.2);
  }
}