.competencesArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.competencesContainer {
  position: relative;
  width: 80vw;
  min-width: 700px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.individualCompetenceBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  padding-top: 20px;
  background: radial-gradient(
    var(--main-theme-dark-color),
    var(--main-theme-semi-dark-color)
  );
  box-shadow: 0 20px 25px -5px rgba(90, 90, 90, 0.1),
    0 8px 10px -6px rgba(110, 110, 110, 0.1);
  border: 1px solid var(--main-theme-special-color);
  border-radius: 30px;
}

.individualCompetenceBlock > div {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem 5vw;
  flex-wrap: wrap;
  padding: 20px 30px 30px 30px;
}

.individualCompetenceBlock > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.competenceTitle {
  color: var(--main-theme-light-color);
  font-weight: bold;
  font-size: 16pt;
}

.ensembleCompetencesTitle {
  color: var(--main-theme-special-color);
  font-weight: bold;
  font-size: 18pt;
  padding: 0 10px;
}

.competenceLogoContainer {
  background: radial-gradient(
    var(--main-theme-semi-special-color),
    var(--main-theme-dark-color)
  );
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--main-theme-semi-dark-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
}

.competenceLogoContainer > img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.otherCompetencesContainer {
  display: flex;
}

@media screen and (max-width: 1399px) {
  .reverseResponsive {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .competencesContainer {
    min-width: unset;
  }
}
