.contactArea {
  display: flex;
  min-height: calc(100vh - 50px);
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.phoneNumber {
  font-size: 1.4rem;
  font-weight: bold;
}

.descriptionContainer {
  align-items: center;
  width: auto;
}

@media screen and (max-width: 900px) {
  .contactContainer {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
}
