.headerBarArea {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-between;
  background-color: #06080e77;
  align-items: center;
  border-bottom: 1px solid var(--main-theme-special-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.headerBarMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.headerBarMain > h2 {
  font-size: 2.6rem;
  color: var(--main-theme-special-color);
  margin-left: 5vw;
}

.headerBarButtonsEnsemble {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-right: 5vw;
}

.headerBarButton {
  border: none;
  background-color: transparent;
  color: var(--main-theme-light-color);
  transition: scale 250ms;
}

.headerBarButton:hover {
  cursor: pointer;
}

.whiteIcon {
  color: var(--main-theme-light-color);
  margin-right: 5vw;
}

.whiteIcon:hover {
  cursor: pointer;
}

.headerBarBurgerMenuIcons {
  display: none;
}

@media screen and (max-width: 1024px) {
  .headerBarBurgerMenuIcons {
    display: flex;
  }

  .headerBarButtonsEnsemble > * {
    margin-right: 2vw;
  }

  .headerBarArea {
    flex-direction: column;
  }

  .headerBarButtonsEnsemble {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .headerBarButton {
    padding: 15px;
    border-top: 2px solid var(--main-theme-special-color);
  }
}

.headerBarBurgerMenuList {
  display: none;
}

@media screen and (max-width: 500px) {
  .headerBarMain > h2 {
    font-size: 2rem;
  }
}
