.headerBarArea {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--theme-headerBar);
  align-items: center;
  border-bottom: 1px solid var(--theme-special-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.headerBarMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-left: 5vw;

  > h2 {
    font-size: 2.6rem;
    color: var(--theme-special-color);
    margin-left: 5vw;
  }

  > a {
    height: 100%;
    display: contents;
    margin-left: 5vw;

    > img {
      margin-left: 5vw;
      height: 100%;
      object-fit: contain;
      width: auto;
    }
  }
}

.headerBarButtonsEnsemble {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 5vw;
}

.headerBarButton {
  border: none;
  background-color: transparent;
  color: var(--theme-light-color);
  transition: scale 250ms;

  &:hover {
    cursor: pointer;
  }
}

.whiteIcon {
  color: var(--theme-light-color);
  margin-right: 5vw;

  &:hover {
    cursor: pointer;
  }
}

.headerBarBurgerMenuIcons {
  display: none;
}

.headerBarBurgerMenuList {
  display: none;
}

.returnTopScrollContainer {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: radial-gradient(
    var(--theme-dark-color),
    var(--theme-semi-dark-color)
  );
  box-shadow: 0 20px 25px -5px rgba(90, 90, 90, 0.1),
    0 8px 10px -6px hsla(0, 0%, 43%, 0.1);
  border: 1px solid var(--theme-special-color);
  z-index: 1;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 3px var(--theme-semi-dark-color), 0px 8px 13px #ad8b611e,
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}

.themeIcon {
  color: var(--theme-special-color);
  height: auto;
  width: 30px;
  padding: 5px;
  margin: auto;
  border-radius: 50%;
  box-shadow: none;
  transition: background-color 250ms;

  &:hover {
    cursor: pointer;
    background-color: var(--theme-light-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.headerBarBurgerMenuList {
  display: none;
}

.returnTopScrollContainer {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 5vw;
  right: 5vw;
  width: 40px;
  height: 40px;
  background: radial-gradient(
    var(--theme-dark-color),
    var(--theme-semi-dark-color)
  );
  box-shadow: 0 20px 25px -5px rgba(90, 90, 90, 0.1),
    0 8px 10px -6px hsla(0, 0%, 43%, 0.1);
  /* border: 1px solid var(--theme-special-color); */
  z-index: 1;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 3px var(--theme-semi-dark-color), 0px 8px 13px #ad8b611e,
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}

.animatedAppears {
  display: flex;
  opacity: 0;
  animation: appear 250ms ease-in-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animatedDisappears {
  opacity: 1;
  animation: disappear 250ms ease-in-out forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.themeSwitchContainer {
  user-select: none;
}

.themeSwitchContainerSmallDevices {
  display: none;
  user-select: none;
}

@media screen and (max-width: 1024px) {
  .themeSwitchContainerSmallDevices {
    position: absolute;
    display: unset;
    left: calc(50vw - 20px);
  }

  .themeSwitchContainer {
    display: none;
  }

  .headerBarBurgerMenuIcons {
    display: flex;
  }

  .headerBarArea {
    flex-direction: column;
  }

  .headerBarButtonsEnsemble {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 0;

    > * {
      margin-right: 2vw;
    }
  }


  .headerBarButton {
    padding: 15px;
    border-top: 2px solid var(--theme-special-color);
  }
}

@media screen and (max-width: 500px) {
  .headerBarMain > h2 {
    font-size: 2rem;
  }
}

.CvDownloadButton {
  display: flex;
  gap: 0.5rem;
  // padding: 0.3rem 0.6rem 0.2rem 0.7rem;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 8px;
  height: 36px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--theme-special-color);
  border: 1px solid var(--theme-semi-dark-color);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.151), 0px 8px 13px rgba(173, 139, 97, 0.062745098), 0px 18px 23px rgba(0, 0, 0, 0.041);
  font-size: 1rem;
  font-weight: bold;
  color: var(--theme-dark-color);
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    background-color: var(--theme-special-enhanced-color);
    cursor: pointer;
    border: 1px solid var(--theme-special-color);
  }

  > svg {
    height: 65%;
    width: auto;
    aspect-ratio: 1;
    stroke: var(--theme-dark-color);
    padding-bottom: 3px;
  }
}

.CvDownloadButtonContainer {
  @media screen and (max-width: 1024px) {
    padding: 15px 10px;
    border-top: 2px solid var(--theme-special-color);
  }
}