.myProjectsArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.myProjectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 80vw;
}

.myProjectIndividualContainer {
  position: relative;
  width: 300px;
  border-radius: 8px;
  border: solid 1px transparent;
  background-image: linear-gradient(transparent, var(--theme-dark-color)),
    linear-gradient(0deg, var(--theme-special-color) 0%, transparent 60%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  min-width: 270px;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgba(90, 90, 90, 0.1), 0 8px 10px -6px #ad8b611e;

  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.myProjectsPicture {
  width: 100%;
  height: 100%;
  transition: filter 250ms;
}

.myProjectIndividualContainer:hover .myProjectsPicture {
  filter: blur(2px);
}

.myProjectIndividualContainer:hover .projectGithubButtons {
  display: flex;
  animation: fadeIn ease-in-out 0.15s forwards;
}

.myProjectsTitle {
  background-color: var(--theme-dark-color);
  font-weight: bold;
  line-height: 2rem;
  color: var(--theme-light-color);
  padding: 15px 20px;
}

.myProjectsProjectTitleLink {
  text-decoration: none;
}

.myProjectStacksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: var(--theme-dark-color);
  padding: 0 10px 10px 10px;

  > img {
    width: auto;
    height: 24px;
  }
}

.projectGithubButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 80%;
  display: none;
  opacity: 0;  

  > a,
  button {
    background-color: var(--theme-dark-color);
    border-radius: 8px;
    border: solid 1px var(--theme-special-color);
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    

    &:hover {
      cursor: pointer;
    }

    > * {
      border-radius: 0 0 8px 8px;

      &:hover {
        color: var(--theme-special-color);
      }
    }
  }
}

.detailsProjectContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex !important;
  padding: 10vh 0;
  overflow: hidden;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  > div {
    width: auto;
    position: relative;
    overflow: auto;
    max-width: min(700px, 90vw);
    background: radial-gradient(
      var(--theme-dark-color),
      var(--theme-semi-dark-color)
    );
    border-radius: 20px;
    border: 1px solid var(--theme-special-color);
    padding: 0 !important;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 30px 25px;

      @media screen and (max-width: 500px) {
        padding: 20px 10px;
      }

      > img {
        width: 100%;
        max-height: 370px;
        height: auto;
        margin: 20px auto;
        object-fit: cover;
        object-position: top;
        border: 1px solid var(--theme-semi-special-color);
      }
    }
  }

  > * {
    color: var(--theme-light-color);
  }
}

.detailsProjectSeparationLine {
  position: relative;
  padding-bottom: 30px;

  &:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    border-bottom: 3px solid var(--theme-semi-special-color);
    border-radius: 1.5px;
  }

  > p {
    margin-bottom: 10px;
  }
}

.detailsProjectStacksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--theme-semi-special-color);
    border-radius: 8px;
    padding: 7px 10px;

    > img {
      object-fit: contain;
    }
  }
}

.detailsProjectCloseModalButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--theme-dark-color);
  border-radius: 10px;
  border: solid 1px var(--theme-semi-special-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-light-color);
  font-size: 1.3rem;

  &:hover {
    cursor: pointer;
    color: var(--theme-special-color);
  }
}

.detailsProjectLinksContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  > a,
  button {
    background-color: var(--theme-dark-color);
    display: flex;
    align-items: center;
    border: 1px solid var(--theme-special-color);
    border-radius: 8px;
    padding: 16px 10px;

    > h4 {
      line-height: 1rem;
      font-size: 1.1rem;
      font-weight: normal;
    }

    &:hover {
      cursor: pointer;

      > * {
        color: var(--theme-special-color);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .myProjectIndividualContainer {
    min-width: unset;
    max-width: 85vw;
  }
}

@media screen and (max-width: 500px) {
  .myProjectsContainer {
    width: 85vw;
  }
}
