.logoCompetence {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.logoHomeLogo {
  height: 70px;
  width: 70px;
  transition: scale 250ms;
}

.logoHomeLogo:hover {
  scale: 1.1;
  cursor: pointer;
}

.logoHomeLogo > g > path {
  fill: var(--main-theme-special-color);
}

.topAngle {
  height: 80%;
  fill: var(--main-theme-light-color);
}
